.container{
    background-color: rgb(106, 78, 78);
 
    display: grid;
    min-height: 100vh;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 0.5fr 4fr 1fr;

    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sideleft main sideright"
    "footer footer footer";
   
}

header{
    display: flex;
    grid-area: header;
    background-color:rgba(58, 136, 203, 0.933);
    justify-content:center ;
    align-items: center;
    gap: 20px;
}
header h1{
    background-color: rgb(157, 157, 179);
    text-align: center;

}
.tiger1{
    width: 10.1%;
    margin: 0cm;
}

.tiger2{
    width: 10%;
    margin: auto;
    justify-content:flex-end;    

}
.navbar{
    grid-area: nav;
    background-color:black;
}

#left{
    grid-area: sideleft;
    background-color:rgba(62, 120, 170, 0.953);
}
#right{
    grid-area: sideright;
    background-color: rgba(62, 120, 170, 0.953);
}
main{
    grid-area: main;
    background-color:rgb(110, 152, 189) ;
    
}
footer{
    grid-area: footer;
    background-color:rgb(109, 175, 234);
}
