.container{
    background-color: rgb(106, 78, 78);
 
    display: grid;
    min-height: 100vh;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 0.5fr 4fr 1fr;

    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sideleft main sideright"
    "footer footer footer";
}

header{
    display: flex;
    grid-area: header;
    background-color: darkgray;
    justify-content:center ;
    align-items: center;
    gap: 20px;
}
header h1{
}
.tiger{
    width: 15%;
}

.navbar{
    grid-area: nav;
    background-color:rgba(218, 153, 48, 0.776);
}

#left{
    grid-area: sideleft;
    background-color:rgba(165, 115, 35, 0.999);
}
#right{
    grid-area: sideright;
    background-color: rgba(218, 153, 48, 0.64);
}
main{
    grid-area: main;
    background-color: azure;
    
}
footer{
    grid-area: footer;
    background-color: rgba(218, 153, 48, 0.818);
}