.container{
    background-color: rgb(168, 111, 111);
 
    display: grid;
    min-height: 100vh;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 0.5fr 4fr 1fr;

    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sideleft main sideright"
    "footer footer footer";
}

header{
    grid-area: header;
    background-color: darkgray;
}
header h1{
    text-align: center;
}
.navbar{
    grid-area: nav;
    background-color:blue;
}

#left{
    grid-area: sideleft;
    background-color:brown;
}
#right{
    grid-area: sideright;
    background-color: aquamarine;
}
main{
    grid-area: main;
    background-color: azure;
}
footer{
    grid-area: footer;
    background-color: blueviolet;
}